#dashboard {
    display: flex;
    position: fixed;
    width: 98%;
    height: 85vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    transform: translate(3%);
    max-height: 1200px;
    gap: 20px;
    margin-top: 4%;
} 
#dashboard--left--section {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 35%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    overflow: scroll;
    overflow-y: scroll;
}

#dashboard--right--section {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    width: 65%;
    height: 100%;
    margin: 0%;
    overflow: scroll;
    overflow-y: scroll;
    /* display: flex;
    flex-direction: column;
    position: relative;
    width: 97%;
    height: 75%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #CECC97;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    overflow: scroll; */
}
#dashboard--right--section::-webkit-scrollbar {
    width: 8px;
}
#dashboard--right--section::-webkit-scrollbar-thumb {
    background-color: #CECC97;
    border-radius: 10px;
}
#dashboard--right--section::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
/*  note */
#overview--note {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 98%;
    height: 100%;
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 20px;
    border: 0.5px solid #b2ae5956;
    box-shadow: 2px 2px 10px #00000017;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#note--header--title-container {
    display: flex;
    position: absolute;
    width: 80%;
    height: auto;
    top: 20px;
    font-size: 1rem;
    font-weight: 200;
    justify-content: center;
    color: #55635D;
    align-items: flex-start;
    align-content: flex-start;
}
#overview--header--deco {
    display: flex;
    position: absolute;
    width: 170px;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#notes-lines {
    display: flex;
    position: absolute;
    width: 90%;
    height: 65%;
    top: 30%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* event details  */
#right--section--content--container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    height: 100%;
    background-color: #ffffff;
    margin: 0px;
    border-radius: 20px;
    border: 0.5px solid #b2ae5956;
    box-shadow: 2px 2px 10px #00000017;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
}
#right--section--header {
    display: flex;
    position: relative;
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 15px;
    width: 94%;
    color: #7A7A7A;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* active button */
.Omuun--button--container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
}
.Omuun--button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(farthest-side at 20px -50px, #94a7a146 5%, #425C58 14%, #3D5D57 47%, #364C48 74%, #30453D 100%);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 170px;
    height: 40px;
    text-align: center;
    transition: background-color 0.3s ease;
    filter: drop-shadow(0px 4px 11px #64837ed2);
}
.Omuun--button--text {
    display: flex;
    justify-content: center;
    position: absolute;
    color: #d3d3d3;
    width: 80%;
    font-size: 0.8rem;
    text-align: center;
    filter: drop-shadow(1px 1px 1px #000000d0);
    letter-spacing: 0.05rem;
    z-index: 2;
}
.Omuun--button--inner {
    display: flex;
    position: relative;
    background-image: linear-gradient(160deg, #313D39, #4D6356, #303C38);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #8d9426;
    cursor: pointer;
    width: 95.8%;
    filter: opacity(30%);
    height: 85%;
    text-align: center;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.top--blur--effect {
    display: flex;
    background-color: #71918C;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    width: 70%;
    top: 7px;
    filter: blur(4px);
    height: 15%;
    transition: background-color 0.3s ease;
    align-items: center;
}
.right--blur--effect {
    display: flex;
    background-color: #71918C;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    width: 2.5px;
    height: 20px;
    top: 7px;
    right: 10px;
    filter: blur(2.8px);
    
    transition: background-color 0.3s ease;
    align-items: center;
}
.left--blur--effect {
    display: flex;
    background-color: #71918C;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    width: 5px;
    top: 8px;
    left: 10px;
    filter: blur(5px);
    height: 20px;
    transition: background-color 0.3s ease;
    align-items: center;
}
/* inactive button */

.Omuun--button--text--inactive {
    display: flex;
    justify-content: center;
    position: absolute;
    color: #030303;
    width: 80%;
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: 0.05rem;
    z-index: 2;
}
.Omuun--button--inactive {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #DBDBDD 0%, #dedfe2 3%, #F0EFEF 23%, #F0EFEF 94%, #DEDEDE 100%);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 11px #cac8c834);
    cursor: pointer;
    width: 170px;
    height: 40px;
    border: 1px solid #afa9a949;
    text-align: center;
    transition: background-color 0.3s ease;
}

.Omuun--button--inactive--inner{
    display: flex;
    position: relative;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #97920477;
    cursor: pointer;
    width: 95.8%;
    filter: opacity(30%);
    height: 85%;
    text-align: center;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.top--blur--effect--inactive {
    display: flex;
    background-color: #ffffff;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 90%;
    top: 5px;
    filter: blur(1.8px);
    height: 15%;
    transition: background-color 0.3s ease;
    align-items: center;
}
.right--blur--effect--inactive {
    display: flex;
    background-color: #71918C;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    width: 3px;
    top: 12px;
    right: 10px;
    filter: blur(3.5px);
    height: 30px;
    transition: background-color 0.3s ease;
    align-items: center;
}
.left--blur--effect--inactive {
    display: flex;
    background-color: #71918C;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    width: 8px;
    top: 15px;
    left: 20px;
    filter: blur(9px);
    height: 20px;
    transition: background-color 0.3s ease;
    align-items: center;
}
/* event table */
#blur--edge--effect {
    display: flex;
    position: absolute;
    border: 4px solid #C5CDDE;
    width: 94%;
    height: 95%;
    border-radius: 20px;
    filter: blur(6px);
    transform: translate(1.3%, -1.6%);
}
#right--section--table--header {
    display: flex;
    position: relative;
    width: 97%;
    height: fit-content;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #CECC97;
    align-content: center;
    gap: 200px;
}


#events--celebrants--container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 97%;
    height: 75%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #CECC97;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    overflow-y: scroll;
    z-index: 22;
}
#events--celebrants--container p {
    display: flex;
    position: relative;
    margin: 0px;
    color: #747575
}

#events--celebrants--container::-webkit-scrollbar {
    width: 8px;
}
#events--celebrants--container::-webkit-scrollbar-thumb {
    background-color: #CECC97;
    border-radius: 10px;
}
#events--celebrants--container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}